
.font-md{
  font-size: 45px;
  font-weight: 600;
}
.font-lg{
  font-size: 50px;
  font-weight: 700;
}
.font-sm{
  font-size: 18px;
  font-weight: 600;
}
.panda-bg-secondary{
  background-color: #fce8e7;
}
.panda-btn-info{
  background-color: #ff3887;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
}
@media screen and (max-width:775px) {
  #carousel-item{
    flex-direction: column-reverse;
  }
 
}